
@color: black;
@borderwidth: 5px;
@verticalpadding: 20px;
.hidden{
  display:none;
}


/* Landscape tablet */
@media (min-width: 768px) and (max-width: 979px) {

}

/* tablet and phone - starts to stack*/
@media (max-width: 767px) {
  .jumbotron{
    border:5px solid black;
  }
  .jumbotron h1 {
    font-size: 50px;
  }
}

/* Landscape tablet or larger */
@media (min-width: 768px) {
  .jumbotron h1 {
    font-size: 80px;
  }
}


/* super large screen desktop */
@media (min-width: 1200px) {

}

/* phone in portrait */
@media (max-width: 480px) {
}

/* all phone and tablet, all orientations */
@media (max-width: 979px) {

}

/* standard desktop */
@media (min-width: 980px) {

}




.brick{
  min-height: 20px;
  padding: 19px;
  margin-bottom: @verticalpadding;
  border: @borderwidth solid @color;
}

.mortar-bottom{
  margin-bottom:@verticalpadding;
}

.mortar-top{
  margin-top:@verticalpadding;
}

.ajax-submission{
	display:block;
	margin:20px 0;
	border:2px solid;
	color: @color;
}

.bl{
	display:block;
}

.footer{
  padding: 70px 0;
  margin-top: 70px;
  border-top: 1px solid #E5E5E5;
  background-color: whiteSmoke;
}

#sidenav{
  width:100%;
}

iframe {
  width:100%;
  height:auto;
}

.ask-a-question input,
.ask-a-question textarea,
.ask-a-question button {
	.bl;
}

.ask-a-question textarea{
	min-width:450px;
}

.jumbotron {
  position: relative;
  margin:40px 0;/*height of fixed menu */
  padding: 40px 20px;
  text-align: center;
}

.jumbotron h1 {
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}
.jumbotron p {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 30px;
}

/* Link styles (used on .masthead-links as well) */
.jumbotron a {
  color: #efefef;
  border-bottom:1px dotted;
}
.jumbotron a:hover {
  border:none !important;
}